<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <title>{ title }</title>
</head>
<body>

  <header>
    <nav>
      <section class="left">
        <a href="/">Home</a>
        <!-- <a href="/">Reports</a> -->
        <% if (position === 'Manager') {%>
        <a href="/employees">Employees</a>
        <% } %>
      </section>
      <section class="right">
        <button onclick="window.location.href = '/projects/add'" class="button">Create Project</button>
        <% if (username) {%>
          <button onclick="window.location.href = '/logout'" class="button button-logout" >Logout</button>
          <div id="avatar">
            <div><%= username[0].toUpperCase() %><%= username[1].toUpperCase() %></div>
          </div>
        <% } else { %>
           
          <button onclick="window.location.href = '/login'" class="button button-logout" style="margin-left: 1rem">Sign In</button>
        <% } %>
      </section>
    </nav>
  </header>
  