<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <!-- <script defer src="/map.js"></script> -->
  <title>{ title }</title>
</head>
<body>

  <header>
    <nav>
      <section class="left">
        <a href="/">Home</a>
        <a href="/">Your Projects</a>
        <!-- <a href="/">Reports</a> -->
        <a href="/employees">Employees</a>
      </section>
      <section class="right">
        <button onclick="window.location.href = '/projects/add'" class="button">Create Project</button>
        <div id="avatar">
          <div></div>
        </div>
      </section>
    </nav>
  </header>
  