<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>{ title }</title>
</head>
<body>

  <header>
    <nav>
      <section class="left">
        <a href="/">Home</a>
        <a href="/">Your Projects</a>
        <a href="/">Reports</a>
      </section>
      <section class="right">
        <button>Create Project</button>
        <div id="avatar">
          <div style="height:44px;width:44px;background-color: blue;border-radius: 50%;margin-left:1rem"></div>
        </div>

      </section>
    </nav>
  </header>
  