<%- include('partials/header') %>

<div class="container">

  <h1>ADD PROJECT</h1>

  <form action="/projects/add" method="POST">
  <label for="summary">Summary</label>
  <input type="text" name="summary">

  <label for="description">Description</label>
  <textarea type="text" name="description" rows="5" cols="15"></textarea>

  <label for="priority">Priority</label>
  <select name="priority">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>
  
    <div class="actions">
  
      <button type="submit" class="button">Create</button>
      <button onclick="confirm('Are you sure you want to cancel?') 
      ? window.location.href = '/projects' 
      : ''" class="button button-danger">
      Cancel
    </button>
  </div>
  
  </form>
</div>

<%- include('partials/footer') %>
