:root {
  --bg-color: rgb(250, 250, 250);
  --txt-color: #223346;
  --accent: #305dc5;
  --placeholder-color: #aaa9a9;
  --blue-lighter: #dee8ff;
  --blue-light: #4f7add;
  --blue: #305dc5;
  --green: #30c55d;
  --red: rgb(226, 55, 55);
  --grey-lightest: rgb(246, 246, 246);
  --grey-lighter: rgb(232, 232, 232);
  --grey-light: rgb(212, 212, 212);
  --grey: rgb(164, 180, 185);
  --grey-dark: rgb(148, 157, 160);

  --header-height: 50px;
  font-size: 16px;

}
/*
* ─── CSS RESET: START ───────────────────────────────────────────────────────────
*/

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus {
  /* outline: 1px solid var(--accent);
  outline-offset: 2px; */
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--blue-light)
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

/*
* ─── CSS RESET: END ─────────────────────────────────────────────────────────────
*/

body {
   display: flex;
   flex-direction: column;
}

header {
  height: var(--header-height);
  width: 100vw;
  padding: 0.25rem;
  /* background-color: var(--grey-lighter); */
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  position: fixed;
  left:0;
  top:0;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);

}

header nav, header nav section {
  display:flex;
  align-items: center;
}
header nav {
  width: 100%;
  margin: 0 1rem;
  justify-content: space-between;
}

header a {
  color: var(--txt-color);
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0 1rem;
}



header a:hover {
  color: var(--accent);
}

div#avatar {

  height:36px;
  width:36px;
  background-color: rgb(61, 61, 238);
  border-radius: 50%;
  color:white;
  margin-left:1rem;
  font-size: 0.9rem;
  font-weight:500;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: 1200px; */
  min-width: 500px;
  width: 90%;
  flex: 1;
  min-height: calc(100vh - 2 * var(--header-height));
  margin: var(--header-height) auto 0;
  padding: 4rem 0.5rem 4rem;
}


.center-text {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
  /* margin: 0 auto; */
}

label, .label {
  margin-top: 1rem;
  margin-bottom: 0.25rem
}


input, select, textarea {
  padding: 0.25rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

input[type="date"] {
  width: 200px;
}

input:focus {
  box-shadow: 0 0 1px 1px rgba(79, 122, 221, 1);
}

table .actions, form .actions {
  display: flex;
  height: 100%;
}

form .actions {
  margin-top: 1rem;
}

.actions a, .actions button {
  margin: 0.25rem 0.25rem 0.25rem;
}

#map {
  height: 400px;
  width: 600px;
  margin-top: 1rem;
}

.button {
  display:block;
  width: fit-content;
  padding: 0.5rem 0.85rem;
  border-radius: 6px;
  background-color: var(--accent);
  color: white;
  border: none;
  font-size: 0.85rem;
  font-weight: 500;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}

.button-logout {
  margin-left: 1rem;
  background-color: var(--bg-color);
  border: 2px solid var(--accent);
  color: var(--accent)
}
.button-info {
  background-color: var(--green);
}

.button-danger {
  background-color: var(--red);
}

a.button:hover {
  color: white;
}

.button:hover {
  filter: brightness(1.2)
}






footer {
  min-height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-lighter);
}

footer p {
  font-size: 0.9rem;
  font-weight: 600;
}
